/** @define Graph */

.Graph {
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.Graph-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 3rem;
}

.Graph-dataSource,
.Graph-dataSource a {
  font-size: .75rem;
  color: #777;
}
